# Este archivo .gitignore debe colocarse en la raíz de su directorio de proyecto de Unity
# #
# Obtenga lo último de https://github.com/github/gitignore/blob/master/Unity.gitignore
# #
/ [ Ll ] ibrary /
/ [ Tt ] emp /
/ [ Oo ] bj /
/ [ Bb ] uild /
/ [ Bb ] uilds /
/ [ Ll ] ogs /
/ [ Uu ] ser [ Ss ] ettings /

# MemoryCaptures puede tener un tamaño excesivo.
# También podrían contener datos extremadamente confidenciales
/ [ Mm ] emoryCaptures /

# Los metadatos de activos solo deben ignorarse cuando el activo correspondiente también se ignora
! / [ Aa ] ssets / ** / * .meta

# Descomente esta línea si desea ignorar el complemento de herramientas de la tienda de activos
# / [Aa] ssets / AssetStoreTools *

# Plugin Jetbrains Rider autogenerado
/ [ Aa ] ssets / Plugins / Editor / JetBrains *

# Directorio de caché de Visual Studio
.vs /

# Directorio de caché de Gradle
.gradle /

# Solución VS / MD / Consulo autogenerada y archivos de proyecto
ExportedObj /
.consulo /
* .csproj
* .unityproj
* .sln
* .suo
* .tmp
* .user
* .userprefs
* .pidb
* .booproj
* .svd
* .pdb
* .mdb
* .opendb
* .VC.db

# Unity3D generó meta archivos
* .pidb.meta
* .pdb.meta
* .mdb.meta

# Unity3D generó el archivo en informes de fallos
sysinfo.txt

# Construye
* .apk
* .aab
* .unitypackage

# Crashlytics generó el archivo
crashlytics-build.properties

# Direccionables embalados
/ [ Aa ] ssets / [ Aa ] ddressable [ Aa ] ssets [ Dd ] ata / * / * .bin *

# Activos temporales de Android generados automáticamente
/ [ Aa ] ssets / [ Ss ] treamingAssets / aa.meta
/ [ Aa ] ssets / [ Ss ] treamingAssets / aa / *